div.vis-network {
    position: fixed; /* Fixed position, adjust as needed */
    top: 0;
    left: 0;
    width: 100vw;   /* Cover full width of the viewport */
    height: 100vh;  /* Cover full height of the viewport */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .25rem;
}

div.bar {
	width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    margin: auto auto auto auto;
    border-radius: 11px;
    border: 2px solid rgb(30, 30, 30);
    background: rgb(100, 173, 246);
    box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}