# macOS system files
.DS_Store

# Python environments
new-env/
.venv/
venv/
myenv/
venv_test/

# Node modules
node_modules/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/



# Evaluation files (be more specific if possible)
eval*

# Application-specific folders
EmotionApp/myenv/
